{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<!--<h2>{{ title }}</h2>-->
<!--<h3>{{ message }}</h3>-->
    <section class="u-clearfix u-white u-section-2" id="carousel_242c">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        
        <h2 class="u-custom-font u-font-raleway u-text u-text-1">Мы - официальный дилер брендов:</h2>

          <div class="slider">
	        <div class="slide-track">
		        <div class="slide">
			        <img src="{% static 'app/content/images/1.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/2.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/3.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/4.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/5.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/6.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/7.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/1.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/2.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/3.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/4.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/5.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/6.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/7.png'%}" height="100" width="250" alt="" />
		        </div>
	        </div>
        </div>
        <!--<p class="u-text u-text-2">Компания "Климат-Град" является официальным дилером таких производителей климатической техники, как: Daikin, Mitsubishi Electric, Funai, Royal Clima, Energolux, Kentatsu, Midea, Hisense, Xigma.</p>-->
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_9559">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center-lg u-align-center-md u-align-center-xl u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-30 u-layout-cell-1" src="">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <img class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-expanded-width-sm u-expanded-width-xs u-image u-image-1" src="{% static 'app/content/images/pexels-photo-7193628.jpeg' %}" data-image-width="1000" data-image-height="1500">
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h6 class="u-custom-font u-font-raleway u-text u-text-1">Ассортимент</h6>
                  <p class="u-text u-text-2">Ассортимент нашей компании включает линейку от бытового до промышленного оборудования от наших партнёров для создания комфортных условий работы и отдыха.</p>
                  <div alt="" class="u-image u-image-circle u-image-2" data-image-width="500" data-image-height="750"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-2-light-3 u-section-4" id="carousel_6126">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-30-md">
              <div class="u-layout-col">
                <div class="u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                  <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                    <h2 class="u-custom-font u-font-raleway u-text u-text-default u-text-1">Кондиционирование</h2>
                    <p class="u-text u-text-grey-30 u-text-2">Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.&nbsp;He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-14 u-size-30-md">
              <div class="u-layout-col">
                <div class="u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-2">
                    <div alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-image u-image-circle u-image-1" data-image-width="1000" data-image-height="1500"></div>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-white u-layout-cell-3">
                  <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                    <div alt="" class="u-image u-image-circle u-image-2" data-image-width="1000" data-image-height="1500"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-16 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-align-center u-container-style u-layout-cell u-size-60 u-white u-layout-cell-4">
                  <div class="u-container-layout u-valign-middle u-container-layout-4">
                    <div alt="" class="u-image u-image-circle u-image-3" data-image-width="1001" data-image-height="1500"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-section-5" id="carousel_fb9f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-font-raleway u-text u-text-default u-text-1">Наши работы</h3>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src= "{% static 'app/content/images/pexels-photo-4207785.jpeg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="{% static 'app/content/images/pexels-photo-4041283.jpeg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="{% static 'app/content/images/pexels-photo-4207890.jpeg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
        <p class="u-text u-text-grey-50 u-text-2">Part home studio, part design consultancy, and full of hidden wonders, our small boutique atelier, located in the middle of Downtown Greenville, houses a variety of exquisite furniture and charming, just-offbeat-enough tchotchkes, including statement pieces, wall coverings, curated art.</p>
      </div>
    </section>
    <div class="slider">
	        <div class="slide-track">
		        <div class="slide">
			        <img src="{% static 'app/content/images/1.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/2.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/3.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/4.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/5.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/6.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/7.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/1.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/2.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/3.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/4.png'%}" height="100" width="250" alt="" />
		        </div>
		        <div class="slide">
			        <img src="{% static 'app/content/images/5.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/6.png'%}" height="100" width="250" alt="" />
		        </div>
                <div class="slide">
			        <img src="{% static 'app/content/images/7.png'%}" height="100" width="250" alt="" />
		        </div>
	        </div>
        </div>


{% endblock %}
