{% extends "app/layout.html" %}

{% block content %}

<h2>{{ post_1.title }}</h2>

{% if post_1.image and post_1.image.url != '/media/temp.jpg' %}
    <img src="{{ post_1.image.url }}" alt="Картинка" width="300px" height="200px" />
{% endif %}

<p> {{post_1.content|linebreaksbr}} </p>    {# вывод текста по абзацам #}
<hr />
<section id="sections">
    <div class="comments">
        <h2>Комментарии</h2>

        {% for comment in comments %}
            <hr />
            <h7>{{comment.date}}</h7>
            <h5>{{comment.author}}</h5>
            <p>{{comment.text|linebreaksbr}}</p>
        {% endfor %}
<hr />

        {% if user.is_authenticated %}
            <h3>Оставить комментарий</h3>
            <form method="POST">{% csrf_token %}    {# защита от атак CSRF #}
                <div>
                    {{form.as_p}}<br /><br />
                    <button type="submit" class="save btn btn-default">Отправить комментарий</button>
                </div>
            </form>
        {% else %}
            <h3>Чтобы оставить комментарий, пожалуйста, авторизуйтесь.</h3>
        {% endif %}

        
    </div>

    <p><button class="button_back" onclick="document.location='{% url 'blog' %}'">Вернуться к статьям</button></p>
</section>


{% endblock %}