{% extends "app/layout.html" %}

{% block content %}

<!--
<address>
    г. Псков<br />
    ул. Алексея Алёхина, дом 26<br />
    <abbr title="Телефон">Тел: +7(911)382-30-86</abbr>
</address>

<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acb4e46332efafa1261ae679d9d68b40fddfc1357b27447ec4409448ca563296b&amp;source=constructor" width="700" height="430" frameborder="0"></iframe>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Реклама:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->

<section class="u-clearfix u-grey-5 u-block-5069-1" custom-posts-hash="T" data-post-id="223408866" data-section-properties="{&quot;stretch&quot;:true,&quot;margin&quot;:&quot;both&quot;,&quot;marginTop&quot;:&quot;70&quot;,&quot;marginBottom&quot;:&quot;70&quot;}" data-id="5069" data-posts-content="[{'images':[],'maps':[{}],'videos':[],'icons':[],'textWidth':570,'textHeight':500,'id':1,'headingProp':'h2','textProp':'text'}]" data-style="map-split-map-right-v2" id="sec-cbec">
  <div class="u-clearfix u-sheet u-block-5069-2" style="min-height: 640px">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-block-5069-3" style="margin-top: 70px; margin-bottom: 70px" data-layout-wrap-id="1" data-block="11" data-block-type="Layout">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-block-5069-4" style="min-height: 500px" data-cell-id="1" data-column-id="1" data-block="12" data-block-type="Cell">
            <div class="u-container-layout u-block-5069-5" style="padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px" data-container-layout-dom="1">
              <h2 class="u-text u-block-5069-6" style="margin-top: 153px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px" data-block="13" data-block-type="Text">Контакты</h2>
              <p class="u-text u-block-5069-7" style="margin-top: 20px; margin-left: 0; margin-right: 0; margin-bottom: 0" data-block="14" data-block-type="Text">Телефон для связи:</p>
              <p class="u-text u-block-5069-11" style="margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0" data-block="15" data-block-type="Text">+7(911)357-5565</p>
              
            <p class="u-text u-block-5069-14" style="margin: 18px 0px 0px;" data-block="20" data-block-type="Text">Электронная почта:</p><p class="u-text u-block-5069-15" style="margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px" data-block="21" data-block-type="Text">​info@ost60.ru</p></div>
          </div>
          <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-block-5069-8" id="contact-map" style="min-height: 500px" data-cell-id="2" data-column-id="2" data-block="17">
            <div class="u-container-layout u-block-5069-9" style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px" data-container-layout-dom="2">
              <div class="u-expanded u-grey-10 u-map u-block-5069-10" style="" data-block="18" data-block-type="Map">
                <div class="embed-responsive" data-block-type="">
                  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1185543e520ec73412f17e0cdf76a7db9329bf97ab0fecf2e27990ff6c5aff44&amp;source=constructor" width="960" height="720" frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style data-mode="XL" data-visited="true">@media (max-width: 0px) { .u-block-5069-1 {background-image: none}
.u-block-5069-2 {min-height: 640px}
.u-block-5069-3 {margin-top: 70px; margin-bottom: 70px}
.u-block-5069-4 {min-height: 500px}
.u-block-5069-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px}
.u-block-5069-6 {margin-top: 153px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5069-7 {margin-top: 20px; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-11 {margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0}
.u-block-5069-14 {margin-top: 18px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5069-15 {margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px}
.u-block-5069-8 {min-height: 500px}
.u-block-5069-9 {padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px} }</style>
  <style data-mode="LG" data-visited="true">@media (max-width: 0px) { .u-block-5069-1 {background-image: none}
.u-block-5069-2 {min-height: 500px}
.u-block-5069-3 {margin-top: 70px; margin-bottom: 70px}
.u-block-5069-4 {min-height: 412px}
.u-block-5069-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px}
.u-block-5069-6 {margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 153px}
.u-block-5069-7 {margin-top: 20px; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-11 {margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-14 {margin-top: 18px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5069-15 {margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px}
.u-block-5069-8 {min-height: 500px}
.u-block-5069-9 {padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px} }</style>
  <style data-mode="MD" data-visited="true">@media (max-width: 0px) { .u-block-5069-1 {background-image: none}
.u-block-5069-2 {min-height: 500px}
.u-block-5069-3 {margin-top: 70px; margin-bottom: 70px}
.u-block-5069-4 {min-height: 100px}
.u-block-5069-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5069-6 {margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 153px}
.u-block-5069-7 {margin-top: 20px; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-11 {margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-14 {margin-top: 18px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5069-15 {margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px}
.u-block-5069-8 {min-height: 500px}
.u-block-5069-9 {padding-top: 20px; padding-bottom: 20px; padding-left: 30px; padding-right: 30px} }</style>
  <style data-mode="SM" data-visited="true">@media (max-width: 0px) { .u-block-5069-1 {background-image: none}
.u-block-5069-2 {min-height: 400px}
.u-block-5069-3 {margin-top: 70px; margin-bottom: 70px}
.u-block-5069-4 {min-height: 100px}
.u-block-5069-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-5069-6 {margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 153px}
.u-block-5069-7 {margin-top: 20px; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-11 {margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-14 {margin-top: 18px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5069-15 {margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px}
.u-block-5069-8 {min-height: 500px}
.u-block-5069-9 {padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px} }</style>
  <style data-mode="XS" data-visited="true">@media (max-width: 0px) { .u-block-5069-1 {background-image: none}
.u-block-5069-2 {min-height: 400px}
.u-block-5069-3 {margin-top: 70px; margin-bottom: 70px}
.u-block-5069-4 {min-height: 100px}
.u-block-5069-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-5069-6 {margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 153px}
.u-block-5069-7 {margin-top: 20px; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-11 {margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-block-5069-14 {margin-top: 18px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5069-15 {margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px}
.u-block-5069-8 {min-height: 500px}
.u-block-5069-9 {padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px} }</style>
</section>

{% endblock %}
