{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Привет, {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <!--<li><a href="{% url 'login' %}">Вход</a></li>-->
    <li><p>Связаться с нами: <a href="tel:+79113575565">+7(911)357-5565</a></p></li>
</ul>

{% endif %}
